<!-- Image and text overlay for number in collection and set id -->
<div class="container position-relative px-0">
    <a class="" href="/">
        <img class="img-fluid rounded-2 opacity-50 cardPartial"
            src="https://static.tcgcollector.com/content/images/2a/99/8c/2a998c029576a75b95def3e1b031147641f650b4752620170925063af12d4771.jpg"
            alt="">
    </a>
    <p class="card-text fontColour position-absolute start-0 bottom-0 bgColour pe-1 rounded-end-1">
        <small>1 / 205 | BS</small>
    </p>
</div>

<!-- Display rarity and wishlist -->
<div class="container mt-1 pb-1  border-bottom border-1 border-dark-subtle ">
    <div class="row">
        <div class="col-6 d-flex justify-content-start align-items-start  px-1 ">
            <img class="img-fluid  align-self-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Rare Holo"
                src="https://static.tcgcollector.com/content/images/39/26/4d/39264dba06e81707203520d206a7a2563f6560d21393399a76af9776e0848870.svg"
                alt="">
        </div>
        <div class="col-6 d-flex justify-content-end ">
            <button id="heartButton<%= index %>" class="btn-sm border-0 bgColour pe-0 " data-bs-toggle="tooltip"
                data-bs-placement="top" title="Toggle card in wishlist"
                onclick="toggleHeartColour('heartButton<%= index %>')" href="#">
                <i class="fas fa-heart" style="color: grey"></i>
            </button>
        </div>
    </div>
</div>

<!-- Counter section and buttons to add note and view entries -->
<div class="container mt-1">
    <div class="row">

        <%# button to open notes modal %>
        <div class="col-3 d-flex justify-content-start align-items-center ">
            <button id="card<%= index %>" class="btn-sm border-0 bgColour ps-0" onclick="openNoteModal()">
                <i class="far fa-clipboard" style="color: grey" ></i>
            </button>

        </div>

        <div class="col-6 d-flex justify-content-center  align-items-center">

            <button id="minusButton<%= index %>" class="btn-sm border-0 bgColour" 
                onclick="decreaseCounter('collected<%= index %>')" href="#">
                <i class="fas fa-minus" style="color: grey"></i>
            </button>

            <span id="collected<%= index %>" class="fw-bold px-1 px-md-2 text-dark  ">0</span>

            <button id="plusButton<%= index %>" class="btn-sm border-0 bgColour"
                onclick="increaseCounter('collected<%= index %>')" href="#">
                <i class="fas fa-plus" style="color: grey"></i>
            </button>


        </div>

        <%# button to open card entries modal %>
        <div class="col-3 d-flex justify-content-end align-items-center ">
            <button id="card<%= index %>" class="btn-sm border-0 bgColour pe-0" onclick="openCardEntriesModal()">
                <i class="fa fa-list" style="color: grey" ></i>
            </button>
        </div>

    </div>

</div>


