<%# button for opening username modal %>
    <button id="cardEntries<%= card.card_id %>" type="button" class="btn-sm border-0 bgColour pe-0" <% if (loggedIn) {
        %>data-bs-toggle="modal" <% } %> data-bs-target="#cardEntriesModal<%= card.card_id %>">
                <i class="fa fa-list" style="color: grey"></i>
    </button>

   
    <div class="modal fade" id="cardEntriesModal<%= card.card_id %>" tabindex="-1" role="dialog"
        aria-labelledby="cardEntriesModal<%= card.card_id %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title fw-bold " id="cardNoteLabel">
                        <%= card.card_name %> ( <%= card.set.set_name%>
                                <%= card.card_number %> / <%= card.set.total_cards %> )
                    </h6>
                </div>
                
                <div class="modal-body pt-0">
                    <div class="container">
                        <div class="row mb-5">
                            <form id="cardEntriesForm<%= card.card_id %>" class="row g-3 needs-validation" novalidate>
                                <div class="col-12 pe-0 me-md-2">
                                    <label for="selectAction<%= card.card_id %>" class="form-label">Select Action</label>
                                    <select class="form-select" id="selectAction<%= card.card_id %>" name="selectAction">
                                        <option value="add">Add</option>
                                        <option value="remove">Remove</option>
                                    </select>
                                </div>

                                <div class="col-12 pe-0 me-md-2">
                                    <label for="selectOption<%= card.card_id %>" class="form-label">Select Collection</label>
                                    <select class="form-select" id="selectOption<%= card.card_id %>" name="selectOption" required>
                                        <% collectionList.forEach(collection => { %>
                                            <option value="<%= collection.collection_id %>"><%= collection.name %></option>
                                        <% }) %>
                                    </select>
                                    <div class="invalid-feedback">Select a collection</div>
                                </div>


                            </form>

                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn negativeActionBtn" data-bs-dismiss="modal">Close</button>
                        <button onclick="addRemoveCardFromCollection('selectAction<%=card.card_id%>','selectOption<%=card.card_id%>', '<%= card.card_id %>')" class="btn actionBtn">Update Collection</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>


        // Boilerplater code from Bootstrap
        // Checks each form in the page and applies some check such as ensuring it is not empty if required and meets the min and max length requirements
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()  ) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    </script>