<!-- Image and text overlay for number in collection and set id -->
<div class="container position-relative px-0">
    <% if ( isGrid ) { %>
        <a class="" href='/cards/<%= card.card_id %>' >
            <img class= <% if (card.wishlist) { %> "img-fluid rounded-2 cardPartial" <% } else { %> "img-fluid rounded-2 opacity-50 cardPartial" <% } %>   
                src= <%= card.image %>
                id= 'cardGridImage<%= card.card_id %>'>
        </a> 
    <% } else { %>
        <div class="">

            <img class="img-fluid rounded-2 "
            src= <%= card.image %>>       
        </div>
    <% } %>
    
    <p class="card-text fontColour position-absolute start-0 bottom-0 bgColour pe-1 rounded-end-1">
        <small> <%= card.card_number %> / <%= card.set.total_cards %> | <%= card.set.set_code %></small>
    </p>
</div>

<!-- Display rarity and wishlist -->
<div class="container mt-1 pb-1  border-bottom border-1 border-dark-subtle ">
    <div class="row">
        <div class="col-6 d-flex justify-content-start align-items-start  px-1 ">
            <img class="img-fluid  align-self-center" data-bs-toggle="tooltip" data-bs-placement="top" title= <%= card.rarity.name %>
                src= <%= card.rarity.icon_url %> >
        </div>
        <div class="col-6 d-flex justify-content-end ">
            <button id="heartButton<%= card.card_id %>" class="btn-sm border-0 bgColour pe-0 " data-bs-toggle="tooltip"
                data-bs-placement="top" title="Toggle card in wishlist"
                <% if (isGrid) { %>
                    onclick="toggleHeartColour('heartButton<%= card.card_id %>',  'cardGridImage<%= card.card_id %>', <%= card.wishlist %> )" href="#">
                <% } else { %>
                    onclick="toggleHeartColour('heartButton<%= card.card_id %>')" href="#">
                <% } %>
                <i class="fas fa-heart" style=<% if (card.wishlist) { %> "color: red" <% } else { %>  "color: grey" <% } %> ></i>
            </button>
        </div>
    </div>
</div>

<!-- Counter section and buttons to add note and view entries -->
<div class="container mt-1">
    <div class="row">

        <%# button to open notes modal %>
        <div class="col-3 d-flex justify-content-start align-items-center ps-2 ">
            <button id="cardNote<%= card.card_id %>" class="btn-sm border-0 bgColour ps-0" title="Add note to card"  onclick= "openNoteModal()" > <%# TEMPORARY SOlUTION %>
                <i class="far fa-clipboard" style="color: grey" ></i>
            </button>

        </div>

        <div class="col-6 d-flex justify-content-center  align-items-center">

            <button id="minusButton<%= card.card_id %>" class="btn-sm border-0 bgColour" 
                onclick="decreaseCounter('collected<%= card.card_id %>')" title="Decrease number owned"  href="#">
                <i class="fas fa-minus" style="color: grey"></i>
            </button>

            <span id="collected<%= card.card_id %>" class="fw-bold px-1 px-md-2 text-dark  ">0</span>

            <button id="plusButton<%= card.card_id %>" class="btn-sm border-0 bgColour"
                onclick="increaseCounter('collected<%= card.card_id %>')" title="Increase number owned"  href="#">
                <i class="fas fa-plus" style="color: grey"></i>
            </button>


        </div>

        <%# button to open card entries modal %>
        <div class="col-3 d-flex justify-content-end align-items-center ">
            <button id="cardEntries<%= card.card_id %>" class="btn-sm border-0 bgColour pe-0" title="View card entries" onclick="openCardEntriesModal()">
                <i class="fa fa-list" style="color: grey" ></i>
            </button>
        </div>

    </div>

</div>
    <script>

        window.addEventListener('DOMContentLoaded', (event) => {
            // get the loggedIn variable from res.locals and set it to a js variable
            const loggedIn = '<%= typeof loggedIn !== undefined ? JSON.stringify(loggedIn) : false %>';
        
            // console.log(loggedIn);
            // change on click attribute for each button to open not logged in modal if user isn't logged in
            if(!loggedIn){
                document.getElementById("minusButton<%= card.card_id %>").onclick = openNotLoggedInModal;
                document.getElementById("plusButton<%= card.card_id %>").onclick = openNotLoggedInModal;
                document.getElementById("heartButton<%= card.card_id %>").onclick = openNotLoggedInModal;
                document.getElementById("cardEntries<%= card.card_id %>").onclick = openNotLoggedInModal;
                document.getElementById("cardNote<%= card.card_id %>").onclick = openNotLoggedInModal;
            }
        });

    </script>