<!-- partial to allow user to add notes -->
<%# button for opening username modal %>
<button id="cardNote<%= card.card_id %>" type="button" class="btn-sm border-0 bgColour pe-0"<% if (loggedIn) { %>data-bs-toggle="modal" <% } %>     data-bs-target="#cardNoteModal<%= card.card_id %>">
    <i class="far fa-clipboard" style="color: grey" ></i>
</button>
<!-- <button id="cardNote<%= card.card_id %>" class="btn-sm border-0 bgColour ps-0" title="Add note to card" 
    onclick= "openNoteModal('<%= JSON.stringify(card) %>' )" >
    <i class="far fa-clipboard" style="color: grey" ></i>
</button> -->

    <!-- Modal for changing username-->
<div class="modal fade" id="cardNoteModal<%= card.card_id %>" tabindex="-1" role="dialog" aria-labelledby="cardNoteModal<%= card.card_id %>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title fw-bold " id="cardEntryLabel"> <%= card.card_name %> - ( <%= card.set.set_name%> - <%= card.card_number %> / <%= card.set.total_cards %> )</h6>
            </div>
            <div class="modal-body">

              
            <div>
                <div>
                    <textarea class="form-control" id="cardNoteTextArea<%= card.card_id%>" rows="6" maxlength="500" placeholder="Enter note for card"><% if (card.targetCollection) { %><%= card.targetCollection.note.trim() %><% } %></textarea>
                </div>
            </div>    
            
            
            <div class="modal-footer">
                <button type="button"  class="btn negativeActionBtn" data-bs-dismiss="modal">Close</button>
                <button type="button" data-bs-dismiss="modal" onclick="submitNote('<%=card.card_id%>','<% if (card.targetCollection) { %><%= card.targetCollection.collection_id %><% } %>',document.getElementById('cardNoteTextArea<%= card.card_id%>').value)" class="btn actionBtn">Save changes</button>
            </div>
      
        </div>
        </div>
    </div>
</div>


<script>


</script>